.menuList {
  padding-left: 20px;
  padding-right: 20px;
  // height: 100%;
  .container {
    .list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
      @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 576px) {
        grid-template-columns: 1fr;
        gap: 24px;
      }
    }
    .addition {
      margin-top: 40px;
      color: #fff;
      .adtTitle {
        color: #dce8aa;
        font-weight: bold;
        width: fit-content;
        border-bottom: 2px solid #dce8aa;
        padding-bottom: 2px;
        margin-bottom: 20px;
      }
      .additionList {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 2px;
        .adItem {
          flex: 1 0 48%;
          border: 1px solid #3da0d1;
          // background-color: $blue-3D;
          padding: 4px 8px;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 6px;
          @media (min-width: 768px) {
            flex: 1;
            width: 100px;
          }
          .title {
            color: #db8427;
          }
          .value {
            color: #991c20;
            font-size: 18px;
            font-weight: bold;
          }
          .currency {
            font-size: 14px;
            color: #dce8aa;
          }
        }
      }
    }
  }
}
